.card-pizza {
  border-radius: 0.6em;
  overflow: hidden;
  border: 1px solid rgba(150, 154, 157, 0.363);
  max-width: 350px;
  margin: 0 auto;
}

.card-title {
  padding: 1em;
  border-bottom: 1px solid rgba(150, 154, 157, 0.363);
  font-weight: bolder;
}

.card-ingredients {
  padding: 1em;
  border-bottom: 1px solid rgba(150, 154, 157, 0.363);
}

.card-ingredients > h6 {
  color: gray;
  font-weight: 400;
}

.ingredient-list {
  color: rgb(77, 77, 77);
  font-weight: 300;
}

.card-footer {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.card-buttons {
  display: flex;
  justify-content: space-around;
}
